@media (max-width:450px) {


    table {
  table-layout: fixed;
  width: 100%;
}
td, th {
  width: 60px;       /* largeur forcée */
  height: 25px;      /* hauteur forcée */
  padding: 2px;      /* réduit l’espace interne */
  font-size: 12px;   /* texte plus petit */
  overflow: hidden;  /* cache si le texte dépasse */
}

.table input {
  background: rgba(255,255,255,0.9);
  border: none;
  border-radius: 8px;
  padding: 0.5rem;
  width: 100px;
  font-size: 8px;
}

  .ligne1 th{ font-size: 10px;
               padding: 0;
}
.ligne1 th p{
  color: rgb(56, 2, 52);
  margin: 1px 15px;
}


  .table input { width: 80px; }

  .food-item{
color: rgb(31, 1, 29);
    -webkit-text-stroke: 0.9px rgb(44, 2, 44);
    text-shadow: 0 0 2px yellow;
    font-weight: bold;
    font-size: 6px;
    min-height: 50px;
    letter-spacing: 3px;
}
}

@media (min-width: 451px) and (max-width:767px) {
    h1{
        margin-bottom: 0px;
    }
  .table { width: 80%; }


  .ligne1 th{ font-size: 16px;
               padding: 0;
}
.ligne1 th p{
  color: rgb(56, 2, 52);
  margin: 1px 15px;
}

  th, td { font-size: 12px; }
  .food-item { font-size: 10px; }
  .table input { width: 80px; }
}

